<div class="new-login-container">
    <div class="image-section">
      <span>
        <!-- <img
          src="images/L&T.png"
          class="image-section-logo"
          alt="generic-logo"
          width="25"
          height="26"
        /> -->
        <h3>L & T Precision and Engineering System</h3>
      </span>
      <br />
    </div>
  
    <div class="form-section">
      <div class="cardshadow form-card">
        <div class="text-center">
          <a class="logo-link">
            <!-- <img src="/images/L&T.png" alt="Company Logo" class="company-logo" /> -->
            <span class="company-name">Sahachar</span>
          </a>
        </div>
  
        <div class="form-header">Login to your account</div>
  
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <app-input
            label="Username"
            placeholder="Enter your username"
            [form]="loginForm"
            formControlName="username"
            appearance="outline"
            iconBefore="person"
            [errorMessage]="getUsernameError()"
          >
          </app-input>
  
          <app-input
            label="Password"
            placeholder="Enter your password"
            [form]="loginForm"
            formControlName="password"
            [errorMessage]="getPasswordError()"
            appearance="outline"
            iconBefore="lock"
            [type]="passwordVisible ? 'text' : 'password'"
            [iconAfter]="passwordVisible ? 'visibility_off' : 'visibility'"
            (iconAfterClick)="togglePasswordVisibility()"
          >
          </app-input>
          
          <div class="captcha-section">
            <p>
              CAPTCHA: <span>{{ expectedCaptcha }}</span>
            </p>
            <app-input
              placeholder="Enter CAPTCHA"
              [form]="loginForm"
              formControlName="captchaResponse"
              [errorMessage]="getCaptchaError()"
              appearance="outline"
              type="text"
            ></app-input>
          </div>
          
          <div class="forgot-password">
            <a class="text-primary">Forgot Password?</a>
          </div>

          <button
            mat-flat-button
            color="primary"
            class="submit-button"
            type="submit"
          >
            Log In
          </button>

          @if(loginErrorMessage){
            <div  class="error-message text-danger">
                {{ loginErrorMessage }}
              </div>
          }
        
        </form>
  
        <div class="register-link">
          New to?
          <a class="text-decoration-none text-primary">Create an account</a>
        </div>
      </div>
    </div>
</div>
