<div
  class="blank-layout-container justify-content-center align-items-center bg-light h-100"
>
  <div class="row w-100 h-100">
    <!-- Debrand Section (50% width) -->
    <section
      id="debrand"
      class="col-lg-6 d-flex justify-content-center m-t-24 bg-light"
    >
      <div class="text-center p-4">
        <!-- Debrand content -->
        <a>
          <img
            src="/assets/images/L&T.png"
            class="align-middle m-2"
            alt="generic-logo"
            width="25"
            height="26"
          />
          <span>L & T Precision and Engineering System</span>
        </a>
        <br />
        <marquee behavior="" direction="">L&T</marquee>

        <div
          class="d-flex justify-content-center align-items-center"
          style="min-height: 100px; width: 100%"
        >
          <div>
            <img src="/assets/images/4308756.jpg" alt="dgr" />
          </div>
          <!-- Replace with actual images or content -->
        </div>
        <!-- Additional debranding elements can go here -->
      </div>
    </section>

    <!-- Login Section (50% width) -->
    <section
      id="login"
      class="col-lg-6 d-flex justify-content-center align-items-center bg-gradient"
    >
      <div class="col-lg-8 d-flex align-items-center">
        <mat-card class="cardWithShadow boxed-auth w-100">
          <mat-card-content class="p-32">
            <div
              class="text-center d-flex justify-content-center align-items-center"
            >
              <a class="d-flex align-items-center">
                <img
                  src="/assets/images/L&T.png"
                  class="align-middle m-2"
                  width="25px"
                  height="25px"
                  alt="logo"
                />
                <span>Sanachar</span>
              </a>
            </div>

            <div class="or-border m-t-30">Login to your account</div>

            <form class="m-t-30" >
              <!-- Username Input -->
              <mat-label class="f-w-400 m-b-8 d-block">Search Number</mat-label>

              <mat-form-field appearance="outline" class="w-100">
                <mat-select
                  [(value)]="selectedValue"
                  (selectionChange)="onSelectionChange($event.value)"
                >
                  <mat-option
                    *ngFor="let option of options"
                    [value]="option.value"
                  >
                    {{ option.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <!-- <div class="d-flex align-items-center m-b-12">
                <mat-checkbox color="primary">Remember this Device</mat-checkbox>
                <a
                  class="text-primary f-w-600 text-decoration-none m-l-auto f-s-14"
                  >Forgot Password?</a
                >
              </div> -->
              <mat-card-actions class="d-flex justify-content-between">
                <button mat-stroked-button color="warn" class="w-100 m-24">
                  Back
                </button>
                <button mat-flat-button color="primary" class="w-100 m-24">
                  Otp
                </button>
              </mat-card-actions>
            </form>

            <!-- <span class="d-block f-w-500 text-center m-t-24"
              >New to?
              <a class="text-decoration-none text-primary f-w-500 f-s-14">
                Create an account</a
              >
            </span> -->
          </mat-card-content>
        </mat-card>
      </div>
    </section>
  </div>
</div>
