<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <app-input
    label="Username"
    placeholder="Enter your username"
    [form]="myForm"
    formControlName="username"
    errorMessage="Username is required"
    appearance="outline"
    iconBefore="person"
  ></app-input>

  <app-input
    label="Password"
    placeholder="Enter your password"
    [form]="myForm"
    [formControlName]="'password'"
    errorMessage="Password is required"
    appearance="outline"
    iconBefore="lock"
    [type]="passwordVisible ? 'text' : 'password'"
    [iconAfter]="passwordVisible ? 'visibility_off' : 'visibility'"
  ></app-input>

  <button type="submit" [disabled]="myForm.invalid">Login</button>
</form>
