.layout-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

// mat-sidenav-container {
//   flex: 1;
// }

mat-sidenav, mat-sidenav-content {
  transition: all 500ms ease-in-out;
}

