<mat-nav-list>
  @for (item of menuItems(); track item.label) { @if (!item.children) {
  <a
    class="font-mono rounded-lg mr-4 pr-2 py-1 hover:bg-gray-100 transition"
    mat-list-item
    [routerLink]="item.route"
    routerLinkActive=""
    #rla="routerLinkActive"
    [activated]="rla.isActive"
    [matTooltip]="showTooltip ? item.label : null"
    [matTooltipPosition]="'right'"
  >
    <mat-icon
      class="rounded-full"
      [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'"
      matListItemIcon
    >
       {{ item.icon }}
          </mat-icon>
    <!-- @if (!sideNavCollapsed) { -->
    <span matListItemTitle>{{ item.label }}</span>

    <!-- <span matListItemTitle>{{ item.label }}</span> -->
  </a>
  } @else {
  <app-submenu
    [matTooltip]="showTooltip ? item.label : null"
    [matTooltipPosition]="'right'"
    [item]="item"
    [collapsed]="sideNavCollapsed()"
    (toggleExpanded)="toggleSubmenu(item)"
  />
  } }
</mat-nav-list>
