<mat-nav-list>
  @for (item of menuItems(); track item.label) { @if (!item.children) {
  <a class="sidebar-menu" mat-list-item class="menu-item" [routerLink]="item.route"
    routerLinkActive="selected-menu-item" #rla="routerLinkActive" [activated]="rla.isActive">
    <mat-icon [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'" matListItemIcon>
      {{ item.icon }}
    </mat-icon>
    @if (sideNavCollapsed()) { }
    <span matListItemTitle>{{ item.label }}</span>
  </a>
  } @else {
  <app-submenu [item]="item" [collapsed]="sideNavCollapsed()" (toggleExpanded)="toggleSubmenu(item)" />
  } }
</mat-nav-list>