<mat-nav-list >
  @for( item of navItems; track item){
  <a
    mat-list-item
    class="menu-item"
    [routerLink]="item.route"
    [routerLinkActive]="'selected-menu-item'"
    #rla="routerLinkActive"
    [activated]="rla.isActive"
  >
    <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
    <span matListItemTitle>{{ item.label }}</span>
  </a>
  }

  <!-- <mat-nav-list>
    <a mat-list-item class="menu-item" *ngFor="let item of menuItems()">
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      <span matListItemTitle>{{ item.label }}</span>
    </a>
  </mat-nav-list> -->
  <!-- @for( item of navItems; track item){
  <a
    mat-list-item
    class="menu-item"
    [routerLink]="item.route"
    routerLinkActive="selected-menu-item"
    #rla="routerLinkActive"
    [activated]="rla.isActive"
  >
    <mat-icon
      [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'"
      matListItemIcon
      >{{ item.icon }}</mat-icon
    >
    <span matListItemTitle>{{ item.label }}</span>
  </a>
  @for(subItem of item.subItems; track subItem){
  <mat-nav-list>
    <a
      *ngFor="let subItem of item.subItems"
      mat-list-item
      [routerLink]="subItem.route"
    >
      <mat-icon>{{ subItem.icon }}</mat-icon>
      <span>{{ subItem.label }}</span>
    </a>
  </mat-nav-list>
  } } -->
</mat-nav-list>
