<div class="dashbard-data-cards">
    <app-card [customClass]="'card1'"
  [title]="'Card Title'"
  [subtitle]="'Card Subtitle'"
  [content]="'This is the card content'"
  [showHeader]="true"
  appearance="outlined"
>
</app-card><app-card
[title]="'Card Title'"
[subtitle]="'Card Subtitle'"
[content]="'This is the card content'"
[showHeader]="true"
appearance="outlined"
>
</app-card><app-card
[title]="'Card Title'"
[subtitle]="'Card Subtitle'"
[content]="'This is the card content'"
[showHeader]="true"
appearance="outlined"
>
</app-card><app-card
[title]="'Card Title'"
[subtitle]="'Card Subtitle'"
[content]="'This is the card content'"
[showHeader]="true"
appearance="outlined"
>
</app-card>
</div>